# Exploratory Data Analysis

This is the second part of the project about the Coustomer's profile from a Bank. 

### Requierements of the Data set
- We must cleanned the data before the EDA!

## 1. Remind of the Business problem

A bank contract a Markenting company, in order to contact possible clients. They had to determine if they are or are not interested in adquire a product (a fix deposit with the bank).

So, What is the profile of our major or principal client?

## 2. Cleanned dataset

The information was recolected by the marketing company, and it can be find out in the CSV file (dataset_banco.csv)
The specific number of our dataset. It has

- 17 columns
- 45189 rows

Each register(row: the persons were contacted by the marketing companay) has 16 features (the first 16th columns) and one categorical ("yes" or "no" that depends if the person is interested to adquire the product).

The 17 columns (features) are:

1. "age":  edad (numeric)
2. "job": type of work (categorical: "admin.", "unknown", "unemployed", "management", "housemaid", "entrepreneur", "student", "blue-collar","self-employed", "retired", "technician", "services") 
3. "marital": civil status (categorical: "married", "divorced", "single")
4. "education": education level (categorical: "unknown", "secondary", "primary", "tertiary")
5. "default": if left to pay its obligation (categorical: "yes", "no")
6. "balance": money annual balance in euros (numeric)
7. "housing": Do you have a mortgage credit? (categorical: "yes", "no")
8. "loan": Do you have a cosumer loans? (categorical: "yes", "no")
9. "contact": medium that person was contacted (categorical: "unknown", "telephone", "cellular") 
10. "day": the last day that person was contacted (numeric)
11. "month": the last month that person was contacted (categorical: "jan", "feb", "mar", ..., "nov", "dec")
12. "duration": length of time (in seconds) of the last contact (numeric)
13. "campaign": total number of times of the person was contacted during the campaing (numeric)
14. "pdays": number of days elapsed after the person was being contacted before the actual campaign (numeric. -1 indica que no fue contactado previamente)
15. "previous": number of times that the person had being contacted before this campaign (numeric)
16. "poutcome": result of the las marketing campaign (categorical: "unknown", "other", "failure", "success")
17. "y": categorical Did the client subscribe to the product (fix deposit) ?  cliente se suscribió a un depósito a término? (categorical: "yes", "no")

## 3. Read the dataset

In [15]:
# Import libraries

import pandas as pd
#import pandas_profiling
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.ticker as mticker
#from matplotlib import ticker # In order to use tickLocator, if not import this, we can see a Warning
import seaborn as sns

In [18]:
# reading the data
path_cleanned = 'data\dataset_banco_cleanned.csv'
data_cleanned = pd.read_csv(path)

C:\Users\mfsol\AppData\Local\Temp\ipykernel_916\2970761428.py:3: DtypeWarning: Columns (0,5,9,11,12,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  data_cleanned = pd.read_csv(path)

In [20]:
# some general characteristic

print(data_cleanned.shape) # give us the number of "(rows, columns)"
data_cleanned.head() # give us the first 5 rows

(45189, 17)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143.0,yes,no,unknown,5,may,261.0,1,-1.0,0,unknown,no
1,44,technician,single,secondary,no,29.0,yes,no,unknown,5,may,151.0,1,-1.0,0,unknown,no
2,33,entrepreneur,married,secondary,no,2.0,yes,yes,unknown,5,may,76.0,1,-1.0,0,unknown,no
3,47,blue-collar,married,unknown,no,1506.0,yes,no,unknown,5,may,92.0,1,-1.0,0,unknown,no
4,33,unknown,single,unknown,no,1.0,no,no,unknown,5,may,198.0,1,-1.0,0,unknown,no

In [21]:
# See the categorical or numeric variables

data_cleanned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45189 entries, 0 to 45188
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45189 non-null  object
 1   job        45189 non-null  object
 2   marital    45189 non-null  object
 3   education  45189 non-null  object
 4   default    45189 non-null  object
 5   balance    45189 non-null  object
 6   housing    45189 non-null  object
 7   loan       45189 non-null  object
 8   contact    45189 non-null  object
 9   day        45189 non-null  object
 10  month      45189 non-null  object
 11  duration   45189 non-null  object
 12  campaign   45189 non-null  object
 13  pdays      45189 non-null  object
 14  previous   45189 non-null  object
 15  poutcome   45189 non-null  object
 16  y          45189 non-null  object
dtypes: object(17)
memory usage: 5.9+ MB